html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
}

/*customization*/
.blue1 {
  color: #01c9f5;
}
.blue2 {
  color: #0066ff;
}
.blue3 {
  color: #0e1b38;
}
.newfont {
  font-family: "Righteous", cursive;
}
.gap {
  margin-bottom: 150px;
}
.btn-primary {
  background: #0066ff !important;
}
.btn {
  border-radius: 50px !important;
  padding: 10px 35px !important;
  transition: 0.3s !important;
}
.btn:hover {
  opacity: 0.8;
}

/*home*/
#home .navbar {
  background: rgb(14, 27, 56, 0.9);
}
#home .navbar .navbar-toggler {
  border: solid 1px grey;
}
#home .navbar a {
  color: white;
  padding: 0 15px;
  font-weight: 500 !important;
  transition: 0.3s;
}
#home .navbar a:hover,
#home .navbar a.active {
  color: #01c9f5 !important;
}

#home .navbar a.dropdown-toggle:hover {
  cursor: pointer;
}
#home .navbar .dropdown-menu {
  background: rgb(32, 40, 56);
}

#home .navbar a.dropdown-item {
  color: white !important;
  border-top: solid 0.5px grey;
  font-size: 13px;
  padding: 10px 15px;
  transition: 0.3s;
}
#home .navbar a.dropdown-item:hover {
  background: rgb(32, 40, 56) !important;
  color: #01c9f5 !important;
}
#home .navbar a.dropdown-item.active {
  background: none;
  color: #01c9f5 !important;
}
#home .navbar a.dropdown-item:first-child {
  border-top: none;
}

.landing {
  width: 100%;
  height: 100vh;
  background: #0e1b38;
  margin-bottom: 200px;
}
#home .caption {
  background: transparent;
  position: absolute;
  top: 25%;
  color: white;
}

#about-pic {
  border-radius: 0px;
  max-width: 100%;
  width: 90%;
  box-shadow: 0px 0px 20px grey;
}

/*what we do*/
/*projects*/
#projects {
  background: #0e1b38;
  color: white;
}
/*Advantages*/
#advantages-pic,
#advantages-pic2 {
  max-width: 100%;
}

#advantages-pic2 {
  box-shadow: 0 0 20px grey;
}

/*feature*/
#features .feature img {
  width: 70px;
  height: 70px;
}
#features .feature p {
  padding-top: 10px;
  font-size: 20px;
}

/*side contact*/
#side-contact {
  background-image: linear-gradient(to right, #0066ff, #01c9f5);
  color: white;
}
#side-contact button {
  background: white;
  color: black;
}
/*technologies*/
#technologies .box {
  box-shadow: 0px 0px 15px rgb(211, 211, 211, 0.6);
  width: 140px;
  height: 140px;
}
/*contact*/
#contacts {
  background: #0e1b38;
  color: white;
}
footer {
  background: #0e1b38;
  color: lightgrey;
}
footer hr {
  margin: 0;
  border: 0.5px solid grey;
}
footer span a i {
  transition: 0.5s;
}
footer span a i:hover {
  color: #0066ff !important;
}

@media (max-width: 1000px) {
  #technologies .box {
    width: 100px;
    height: 100px;
  }
  #technologies .box img {
    max-width: 80%;
  }
}
