html {
  scroll-behavior: smooth !important;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  font-size: 20px !important;
}

/*customization*/
.blue1 {
  color: #01c9f5;
}
.blue2 {
  color: #0066ff;
}
.blue3 {
  color: #0e1b38;
}
.newfont {
  font-family: "Righteous", cursive;
}
.gap {
  margin-bottom: 150px;
}
.btn-primary {
  background: #0066ff !important;
}
.btn {
  border-radius: 50px !important;
  padding: 10px 35px !important;
  transition: 0.3s !important;
}
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*home*/
#home .navbar {
  background: rgb(14, 27, 56, 0.9);
}
#home .navbar a.navbar-brand {
  font-size: 24px !important;
}
#icon {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
#home .navbar .navbar-toggler {
  border: solid 1px grey;
}
#home .navbar a {
  color: white;
  padding: 0 15px;
  font-size: 16px !important;
  font-weight: 500 !important;
  transition: 0.3s;
}
#home .navbar a:hover,
#home .navbar a.active {
  color: #01c9f5 !important;
}

#home .navbar a.dropdown-toggle:hover {
  cursor: pointer;
}
#home .navbar .dropdown-menu {
  background: rgb(32, 40, 56);
}

#home .navbar a.dropdown-item {
  color: white !important;
  border-top: solid 0.5px grey;
  font-size: 13px !important;
  padding: 10px 15px;
  transition: 0.3s;
}
#home .navbar a.dropdown-item:hover {
  background: rgb(32, 40, 56) !important;
  color: #01c9f5 !important;
}
#home .navbar a.dropdown-item.active {
  background: none;
  color: #01c9f5 !important;
}
#home .navbar a.dropdown-item:first-child {
  border-top: none;
}

/*landing*/
.landing {
  width: 100%;
  height: 100vh;
  background: #0e1b38;
  margin-bottom: 200px;
}
#home .caption {
  background: transparent;
  position: absolute;
  top: 25%;
  color: white;
}

#about-pic {
  border-radius: 0px;
  max-width: 100%;
  width: 90%;
  box-shadow: 0px 0px 20px grey;
}

/*what we do*/
/*projects*/
#projects {
  background: #0e1b38;
  color: white;
}
/*Advantages*/
#advantages-pic,
#advantages-pic2 {
  max-width: 100%;
}
#advantages-pic2 {
  width: 80%;
}

#advantages-pic2 {
  box-shadow: 0 0 20px grey;
}

/*feature*/
#features .feature img {
  width: 70px;
  height: 70px;
}
#features .feature p {
  padding-top: 10px;
  font-size: 20px;
}

/*side contact*/
#side-contact {
  background-image: linear-gradient(to right, #0066ff, #01c9f5);
  color: white;
}
#side-contact button {
  background: white;
  color: black;
}
/*technologies*/
#technologies .box {
  box-shadow: 0px 0px 15px rgb(211, 211, 211, 0.6);
  width: 140px;
  height: 140px;
}
/*contact*/
#contacts {
  background: #0e1b38;
  color: white;
}
footer {
  background: #0e1b38;
  color: lightgrey;
}
footer hr {
  margin: 0;
  border: 0.5px solid grey;
}
footer span a i {
  transition: 0.5s;
  font-size: 20px;
}
footer span a i:hover {
  color: #01c9f5 !important;
}
/*media*/
@media (max-width: 993px) {
  body {
    font-size: 16px !important;
  }

  #home .caption {
    top: 20%;
  }
  .landing {
    margin-bottom: 50px;
  }

  #about-pic {
    display: none;
  }
  #about .section1 {
    padding-bottom: 80px;
  }
  #about img {
    padding: 0;
    margin-top: -120px;
    max-width: 100%;
  }
  .caption img {
    max-width: 100%;
    width: 100%;
  }

  #advantages-pic2 {
    display: none;
  }

  #features {
    text-align: center;
  }

  #technologies .box {
    width: 100px;
    height: 100px;
  }
  #technologies .box img {
    max-width: 80%;
  }
}

@media (max-width: 769px) {
  #home .caption {
    top: 15%;
  }
  #home .navbar .navbar-collapse a {
    padding: 10px 15px;
  }
  #home .navbar a.dropdown-item {
    padding: 10px 25px;
  }
  #technologies .box {
    width: 120px;
    height: 120px;
  }
  #technologies .box img {
    max-width: 80%;
  }
}
@media (max-width: 577px) {
  body {
    font-size: 15px !important;
  }
  .gap {
    margin-bottom: 60px;
  }
  h1 {
    font-size: xx-large !important;
  }
  h2,
  h3 {
    font-size: x-large !important;
  }
  h4 {
    font-size: large;
  }
  h5 {
    font-size: medium !important;
  }
  #about .section1 {
    padding-bottom: 30px;
  }
  #features .feature img {
    width: 60px;
    height: 60px;
  }
  .btn {
    padding: 5px 20px !important;
  }
  #technologies .box {
    width: 100px;
    height: 100px;
  }
  #features .feature p {
    padding-top: 10px;
    font-size: 16px;
  }
  input.form-control,
  textarea.form-control {
    font-size: 15px !important;
  }
}
@media (max-width: 426px) {
  .landing {
    height: 80vh;
  }
  #home .caption {
    top: 10%;
  }
  #home .navbar a.navbar-brand {
    font-size: 20px !important;
  }
  button.navbar-toggler {
    font-size: 13px;
  }
  #home .navbar a {
    font-size: 13px !important;
  }
  #home .navbar a.dropdown-item {
    font-size: 11px !important;
  }
  #icon {
    width: 25px;
    height: 25px;
  }
  #about img {
    padding: 0;
    margin-top: -100px;
    max-width: 100%;
  }
}
@media (max-width: 420px) {
  div.box.mx-5 {
    margin: 0 20px !important;
  }
}

@media (max-width: 376px) {
  #about img {
    padding: 0;
    margin-top: -80px;
    max-width: 100%;
  }
  #technologies .box {
    width: 80px;
    height: 80px;
  }
  #technologies .box img {
    max-width: 60%;
  }
}
